<body>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <section class="menu cid-sctE4hzt1n" once="menu" id="menu1-a">
    <nav
      class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm"
    >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a [routerLink]="['/home']">
              <img
                src="../../../assets/bootstrap/images/simbol-222x122.png"
                alt="swdts"
                title=""
                style="height: 5.7rem"
              />
            </a>
          </span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav nav-dropdown nav-right"
          data-app-modern-menu="true"
        >
          <li class="nav-item">
            <a
              class="nav-link link text-white display-4"
              [routerLink]="['/segundo-componente']"
            >
              <span class="mbri-android mbr-iconfont mbr-iconfont-btn"></span>
              Techs Devs</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link link text-white dropdown-toggle display-4"
              href="#"
              data-toggle="dropdown-submenu"
              aria-expanded="false"
              ><span class="mbri-rocket mbr-iconfont mbr-iconfont-btn"></span
              >Naves Devs
            </a>
            <div class="dropdown-menu">
              <a
                class="text-white dropdown-item display-4"
                [routerLink]="['/terceiro-componente']"
                aria-expanded="false"
                >Games Devs</a
              ><a
                class="text-white dropdown-item display-4"
                [routerLink]="['/teste']"
                aria-expanded="false"
                >Designers Team</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </section>

  <section class="cid-sctE4e2HVN mbr-fullscreen" id="header2-7">
    <div class="container align-center">
      <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
          <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
            TECH DEVS
          </h1>

          <p class="mbr-text pb-3 mbr-fonts-style display-5">
            Abaixo alguns projetos que foram desenvolvidos com tecnologias
            diferentes. Reat, React Native, PHP, C# com .NET, Java Script, Java,
            Python. Nossos devs da galáxia estão sempre buscando usar as
            melhores tecnologias e não medem esforços para se manterem
            atualizados. Projetos abaixo consumidos da API do Github ( Meu
            github pessoal).
          </p>
        </div>
      </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
      <a href="#next2">
        <i class="mbri-down mbr-iconfont"></i>
      </a>
    </div>
  </section>

  <section
    class="features3 cid-scu8xWAR8d mbr-parallax-background"
    id="features3-13"
  >
    <div class="container" *ngFor="let i of heros2">
      <div class="media-container-row" id="next2">
        <div class="p-3 card col-6">
          <div class="card-wrapper">
            <div class="card-img">
            </div>
            <div class="card-box">
              <h4 class="card-title mbr-fonts-style display-7">
                {{ i.id }}&nbsp;&nbsp;&nbsp;{{ i.name }}
              </h4>
              <p class="mbr-text mbr-fonts-style display-7">
                {{ i.description }}
              </p>
            </div>
            <div class="mbr-section-btn text-center">
              <a
                class="btn btn-black display-4"
                [attr.href]="i.html_url"
                target="_new"
              >
                Ver no GITHUB</a
              >
            </div>
          </div>
        </div>
        <!-- fim do container -->
      </div>
      <!-- fim da div row -->
    </div>
  </section>
</body>
